{% extends 'base.html' %}
{% block title %}Order History{% endblock %}

{% block content %}
  <h1>Order History</h1>
  {% if orders %}
    <ul>
      {% for order in orders %}
        <li>
          Order ID: {{ order.id }} | Status: {{ order.delivery_status }}
          <ul style="display:flex; padding:10px">
            {% for order_item in order.orderitem_set.all %}
              <li>
                <div class="product-info">
                  <div class="product-image">
                    <img src="{{ order_item.product.image.url }}" alt="{{ order_item.product.name }}" width=200>
                  </div>
                  <div class="product-details">
                    <p>Product: {{ order_item.product.name }}</p>
                    <p>Quantity: {{ order_item.quantity }}</p>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No orders found.</p>
  {% endif %}
{% endblock %}
