{% extends 'base.html' %}
{% load static %}
{% block title %}{{ product.name }} - Product Detail{% endblock %}

{% block content %}
  <div class="container">
    <div class="card product-card">
      <div class="image-container">
        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text">Price: R{{ product.price }}</p>
        <p class="card-text">Stock: {{ product.stock }}</p>
        {% if product.available %}
          <p class="card-text text-success">Availability: In Stock</p>
        {% else %}
          <p class="card-text text-danger">Availability: Out of Stock</p>
        {% endif %}
      </div>
      <div class="card-footer">
        <a href="{% url 'add_to_cart' product.slug %}" class="btn btn-primary">
          <i class="fa fa-shopping-cart mr-2"></i>
          Add to Cart
        </a>
      </div>
    </div>
  </div>
{% endblock %}
